#!/bin/bash

### Loading project specific env variables whenever you open a shell in the root directory of the project
### direnv documentation: https://direnv.net/
### macOS installation via Homebrew: `brew install direnv`

echo
echo "Sourcing .secrets file..."
echo "#########################"
watch_file .secrets
if [ -f .secrets ]; then
  source .secrets
else
  echo "WARNING: Expected to find a .secrets file but did not."
fi

### Expected variables from .secrets
### Uncomment the following line and alter the names of the variables that are expected
#env_vars_required IBMCLOUD_API_KEY AUTO_LOGIN DB_NAME

### Adding local bin directory to path
PATH_add bin
